<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>index</h1>
<p>Hello, <span shiro:principal=""></span>, how are you today?</p>
<p shiro:hasRole="admin">你的角色为超级管理员</p>
<p shiro:hasRole="test">你的角色为测试账户</p>
<div>
    <a shiro:hasPermission="view" th:href="@{/view}">获取用户信息</a>
    <a shiro:hasPermission="edit" th:href="@{/edit}">新增用户</a>
    <a shiro:hasPermission="del" th:href="@{/del}">删除用户</a>
</div>
<a th:href="@{/logout}">注销</a>
</body>
</html>