<!DOCTYPE HTML>
<html>
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<!--<p th:text="'Hello！, ' + ${name} + '!'">3333</p>-->
<form method="post" action="/login">
    username : <input type="text" name="name"/><br>
    password: <input type="password" name="password"><br>
    <button type="submit">提交</button>
    <button type="reset">重置</button>
</form>
</body>
</html>